.quienes-somos{
    text-align: center;
    padding: 1.5rem;
}

.quienes-somos__titulo{
    margin-bottom: 1rem;
    color: #8d0606;
    font-size: 3.5rem;
    font-family: Pacifico, cursivo;
    margin-top: 1.5rem;
}

.quienes-somos__descripcion{
    font-size: 1.75rem;
    font-weight: 100;
    color:#8C8888;
    margin-top: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}